
# BEGIN WordPress
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /~ronyortiz/training2017/fictionaluniversity/
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /~ronyortiz/training2017/fictionaluniversity/index.php [L]
</IfModule>

# END WordPress